<ul class="list-group">
    <li class="list-group-item"><a href="/data">개념</a></li>
    <li class="list-group-item"><a href="/setup">설치</a></li>
    <li class="list-group-item"><a href="/sql">SQL</a></li>
    
    <li class="list-group-item"><a href="/injection">인젝션</a></li>
    <li class="list-group-item"><a href="/function">함수</a></li>
</ul>
<br>

<ul class="list-group">
    <li class="list-group-item"><a href="/connect">DB연동</a></li>
    <li class="list-group-item">jinyMysql</li>
    <li class="list-group-item">jinyMysqlAdmin</li>
</ul>
<br>

<ul class="list-group">
    <li class="list-group-item">WorkBench</li>
    <li class="list-group-item">phpMyAdmin</li>
</ul>