---
layout: default
---
<header>
  <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <img src="/img/num2.jpg">
      </div>
      <div class="col-lg-9">
        <h1 class="display-3">데이터베이스 연동</h1>
        <p>Mysql 데이터베이스에 대해서 학습합니다. <br>
        서버사이드 언어 PHP와 연동하여 데이터베이스 연동작업 방법에 대해서 학습니다.</p>
   
    </p>
    <p>
      <a class="btn btn-secondary btn-sm" href="http://www.yes24.com/Product/Goods/58072924?scode=032&OzSrank=20" role="button">Yes24</a>
                  <a class="btn btn-secondary btn-sm" href="#" role="button">교보문고</a>
                  <a class="btn btn-secondary btn-sm" href="#" role="button">알라딘</a>
                  <a class="btn btn-secondary btn-sm" href="#" role="button">인터파크</a>
    </p>
      </div>
    </div>
  </div>
</div>
</header>

  
<!-- Page Content -->
<div class="container">
    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-9">
            <main>
				<section>
				{{ content }}
				</section> 
			</main>
			
			<!--구글 애드센스1-->
			<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<ins class="adsbygoogle"
				style="display:block"
				data-ad-format="fluid"
				data-ad-layout-key="-fb+5w+4e-db+86"
				data-ad-client="ca-pub-3321560028329475"
				data-ad-slot="6043271504"></ins>
			<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
			<br>
                       
        </div>

        <!-- Sidebar Column -->
        <div class="col-md-3">
          <aside>
            {%- include menu.html -%}
            <br>
          </aside>
          
          <!--구글 애드센스2-->
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <ins class="adsbygoogle"
              style="display:block"
              data-ad-format="fluid"
              data-ad-layout-key="-ef+6k-30-ac+ty"
              data-ad-client="ca-pub-3321560028329475"
              data-ad-slot="7661682925"></ins>
          <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
         </div>

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->